/* Agrega estos estilos en tu hoja de estilo CSS o en el archivo de estilos de tu componente */

mat-card {
    max-width: 1000px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 20px auto; /* Centra el card en la página y agrega margen */
    padding: 30px; /* Agrega relleno interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efecto sombreado */
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 30px; /* Agrega espacio entre el título y el formulario */
  }
  
  .row {
    margin-bottom: 20px; /* Ajusta el espacio entre filas del formulario */
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .w100 {
    width: 100%;
  }
  
  textarea {
    resize: vertical; /* Permite redimensionar verticalmente el área de texto */
  }
  
  /* Estilos adicionales para los campos de texto */
  input,
  textarea {
    border: 1px solid #ddd; /* Borde del campo de texto */
    padding: 15px; /* Agrega relleno interno */
    margin-bottom: 20px; /* Agrega espacio entre campos de texto */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  /* Estilos para los campos de texto en foco */
  input:focus,
  textarea:focus {
    outline: none; /* Quita el contorno predeterminado */
    border-color: #3498db; /* Cambia el color del borde al obtener el foco */
  }
  