/* Agrega estos estilos en tu hoja de estilo CSS o en el archivo de estilos de tu componente */

.form-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .custom-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .custom-form mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .custom-form button {
    width: 100%;
  }
  